
body, html {
    font-family:serif;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

body nav{
    width:100%;
}

hr{
    width:90%;
    height:2px;
    background-color:black;
    margin-bottom:50px;
}

.main-page{
    margin:0;
    width:100%;
    
    --s: 201px; /* control the size*/
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    
    background:
        repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
        calc(.5*var(--s)) calc(.5*var(--s)*0.577),
        repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);

    display:flex;
    justify-content: center;
}

.main-page-inner{
    box-shadow: 1px 1px 100px black;
    width:70%;
    background-color:white;
    border-radius: 20px;
    padding-top:20px;
    margin-top:50px;
    padding:30px;
    margin-bottom:45px;
    text-align:center;
}
  
#home {
    background: linear-gradient(to bottom, rgba(16, 42, 213, 0.8), rgba(16, 42, 213, 0)); /* Fader fra farge til transparent */
    padding-top: 1cm;
    padding-bottom: 3cm;
    height: 5mm;
    width: 100%;
    box-shadow: 1px 1px 10px black;
}
  
.topmenu {
    color: black;
    padding: 20px;
    padding-right:40px;
    font-size: 24px;
    text-decoration:none;
}
  
.topmenu:hover {
    color: black;
    font-weight: bolder;
    text-decoration: underline;

}

.topdiv {
    float: right;
}
  
.profile_name {
    float: left;
    padding-left: 2cm;
    margin-bottom:10px;
    color: black;
    font-size:35px;
}
  
.profile_name .contact_info {
    font-size: 16px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
}
  
.contact_info img {
    width:25px;
    margin-right: 10px;
    float:left;
}

#mailimg, #phoneimg{
    margin-bottom:5px;
    mix-blend-mode: multiply;
}

.container{
    margin:15px;
    padding-top:100px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:20px;
    width:100%;

}

.container img{
    mix-blend-mode: multiply;
    width:100%;
}


.about-me-text{
    background-color:#9eb8e6;
    box-shadow: 1px 1px 20px black;
    padding:20px;
    font-size:20px;
    text-align:center;
    border-radius: 20px;
    height:30%;
}

.about-me{
    display:flex;
}

#skills{
    margin-top:-20px;
}

.all-skills{
    display:flex;
    flex-direction: row;
    flex-flow:wrap;
    justify-content: center;
}

.skill{
    border: 1px solid grey;
    display:block;
    border-radius:6px;
    text-align:center;
    margin:35px;
    padding:5px;
    width:2in;
    font-size:20px;
    box-shadow: 0 3px 10px gray;
}

.skill img{
    width:140px;
    align-items:center;
    margin-top:30px;
    mix-blend-mode: multiply;
}
.skills h6 {
    align-items: center;
  } 

h2 {
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 50px;
    color: #000000;
    margin: 30px;
    margin-top: 40px;
  }

.all-projects{
    display:flex;
    flex-direction: row;
    flex-flow:wrap;
    justify-content: center;
}
.project{
    border: 1px solid grey;
    display:block;
    border-radius:6px;
    text-align:center;
    margin:35px;
    padding:5px;
    margin-top:1cm;
    width:60%;
    font-size:20px;
    box-shadow: 0 3px 10px gray;
    cursor:pointer;
    overflow:hidden;
}

.project:hover{
    box-shadow:1px 1px 30px black;
}

.project-details{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:max-height 1s ease, opacity 0.5s ease;
}

.project-details.show{
    max-height:1500px;
    opacity: 1;
}

.detail-item{
    padding:10px;
    text-align: left;
    float:left;
    width:100%;
}

.detail-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}
.detail-item.show{
    opacity:1;
    transform: translateY(0);
}
.floating-button{
    position: fixed;
    bottom: 20px;
    right:20px;
    z-index: 1000;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius:100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.floating-button:hover{
    box-shadow:3px 4px 6px rgba(0, 0, 0, 0.3);
}

.home-icon{
    width:40px;
}

#form{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:-20px;
}

#comms{
    display:flex;
}

#message-area{
    width:100%;
    margin-top:5px;
    resize:vertical;
}

.user-input h5{
    text-align:center;
    font-size:13px;
    margin-bottom:15px;
}

.user-input{
    display:block;
    width:100%;
}
button[type="submit"]{
    margin-top:3cm;
    height:3cm;
    margin-left:5px;
}

#communication{
    padding-bottom:1cm;
}

#thank-you-message{
    text-align:center;
    display:flex;
    font-size:14px;
    
}

footer {
    background: linear-gradient(to top, #abb1dd, rgba(171, 177, 221, 0));
    height: 3cm;
    padding-top:10px;
    width: 100%;
    font-weight: bolder;
    border-top: 1px solid black;
    box-shadow: 1px 1px 1px black;
    text-align: center;
}

#fp, #fa{
    font-size:18px;
    padding-top:12px;
    margin:0 auto;
    padding-bottom:10px;
}
#fa:hover{
    color:white;
}
