body {
    font-family:sans-serif;
  }
  
  /* Navigation Bar */
  
  #home {
    background-color:  #4c5fd6;
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 3cm;
    height: 5mm;
   }
  
  .topmenu {
    color: lightgray;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-decoration:none;
  }
  
  .topmenu:hover {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    /* Add the styles here */
  }

  .topdiv {
    float: right;
    padding-right: 1cm;
  }
  
  .profile_name {
    float: left;
    padding-left: 2cm;
    margin-bottom:10px;
    color: black;
    font-size:35px;
    /* Add the styles here */
  }
  
.profile_name .contact_info {
    font-size: 16px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
}
  
  .contact_info img {
    width:25px;
    margin-right: 10px;
    float:left;

}

#mailimg, #phoneimg{
    margin-bottom:5px;
    mix-blend-mode: multiply;
}

.container{
    margin-left:60px;
    margin-top:50px;
}

.container img{
    float:right;
    padding-right:5cm;
    padding-top:2cm;
    width:350px;
}

.about-me{
    display:flex;
}

.all-skills{
    display:flex;
    flex-direction: row;
    flex-flow:wrap;
    margin-left:25px;
}

.skill{
    border: 1px solid grey;
    display:block;
    border-radius:6px;
    text-align:center;
    margin:35px;
    padding:5px;
    width:2in;
    font-size:20px;
    box-shadow: 0 3px 10px gray;
}

.skill img{
    width:140px;
    align-items:center;
    margin-top:30px;
    mix-blend-mode: multiply;
}
.skills h6 {
    align-items: center;
  } 

h2 {
    text-align: justify;
    font-size: 50px;
    text-align: center;
    float: left;
    color: #7600bc;
    margin: 30px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 0px;
  }

.all-projects{
    display:flex;
    flex-direction: row;
    flex-flow:wrap;
    margin-left:25px;
}
.project{
    border: 1px solid grey;
    display:block;
    border-radius:6px;
    text-align:center;
    margin:35px;
    padding:5px;
    margin-top:2cm;
    width:2in;
    font-size:20px;
    box-shadow: 0 3px 10px gray;
}
.floating-button{
    position: fixed;
    bottom: 20px;
    right:20px;
    z-index: 1000;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius:100%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.floating-button:hover{
    box-shadow:3px 4px 6px rgba(0, 0, 0, 0.3);
}

.home-icon{
    width:40px;
}

#form{
    margin-top:100px;
    display:flex;
    justify-content: center;
    align-items:center;
}

#comms{
    display:flex;
}

#message-area{
    width:500px;
    margin:5px;
}

.user-input h5{
    text-align:center;
    font-size:15px;
}

.user-input{
    display:block;
    width:100%;
}
button[type="submit"]{
    margin-top:10px;
    
}
