body {
    font-family:serif;
}

  /* Navigation Bar */
  
  #home {
    background: linear-gradient(135deg, #b5ceda 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #b5ceda 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #b5ceda 25%, transparent 25%),
    linear-gradient(45deg, #b5ceda 25%, transparent 25%);
    background-size: 100px 100px; /* Adjust the size based on the pattern */
    padding-bottom: 1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    padding-bottom: 3cm;
    height: 5mm;
    box-shadow: 1px 1px 5px black;
   }
  
  .topmenu {
    color: black;
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    text-decoration:none;
  }
  
  .topmenu:hover {
    color: black;
    font-weight: bolder;
    text-decoration: underline;
    /* Add the styles here */
  }

  .topdiv {
    float: right;
    padding-right: 1cm;
  }
  
  .profile_name {
    float: left;
    padding-left: 2cm;
    margin-bottom:10px;
    color: black;
    font-size:35px;
    /* Add the styles here */
  }
  
.profile_name .contact_info {
    font-size: 16px;
    font-style: italic;
    display: flex;
    align-items: center;
    flex-direction: row;
}
  
  .contact_info img {
    width:25px;
    margin-right: 10px;
    float:left;

}

#mailimg, #phoneimg{
    margin-bottom:5px;
    mix-blend-mode: multiply;
}

.container{
    margin-left:60px;
    margin-top:50px;
}

.container img{
    float:right;
    padding-right:5cm;
    padding-top:2cm;
    width:350px;
}

.about-me{
    display:flex;
}

.all-skills{
    display:flex;
    flex-direction: row;
    flex-flow:wrap;
    margin-left:25px;
}

.skill{
    border: 1px solid grey;
    display:block;
    border-radius:6px;
    text-align:center;
    margin:35px;
    padding:5px;
    width:2in;
    font-size:20px;
    box-shadow: 0 3px 10px gray;
}

.skill img{
    width:140px;
    align-items:center;
    margin-top:30px;
    mix-blend-mode: multiply;
}
.skills h6 {
    align-items: center;
  } 

h2 {
    text-shadow:1px 1px 4px rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-align: justify;
    font-size: 50px;
    text-align: center;
    float: left;
    color: #4c5fd6;
    margin: 30px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

.all-projects{
    display:flex;
    flex-direction: row;
    flex-flow:wrap;
    align-items:center;
}
.project{
    border: 1px solid grey;
    display:block;
    border-radius:6px;
    text-align:center;
    margin:35px;
    padding:5px;
    margin-top:1cm;
    width:80%;
    font-size:20px;
    box-shadow: 0 3px 10px gray;
    cursor:pointer;
    overflow:hidden;
}

.project-details{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:max-height 1s ease, opacity 0.5s ease;
}

.project-details.show{
    max-height:1000px;
    opacity: 1;
}

.detail-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}
.detail-item.show{
    opacity:1;
    transform: translateY(0);
}
.floating-button{
    position: fixed;
    bottom: 20px;
    right:20px;
    z-index: 1000;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius:100%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.floating-button:hover{
    box-shadow:3px 4px 6px rgba(0, 0, 0, 0.3);
}

.home-icon{
    width:40px;
}

#form{
    margin-top:100px;
    display:flex;
    justify-content: center;
    align-items:center;
}

#comms{
    display:flex;
}

#message-area{
    width:500px;
    margin:5px;
}

.user-input h5{
    text-align:center;
    font-size:13px;
    margin-bottom:15px;
    margin-right:10px;
}

.user-input{
    display:block;
    width:100%;
}
button[type="submit"]{
    margin-top:3cm;
    height:3cm;
}

#communication{
    margin-bottom:1cm;
}

#thank-you-message{
    text-align:center;
    display:flex;
    font-size:14px;
    
}

footer{
    background: linear-gradient(135deg, #b5ceda 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #b5ceda 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #b5ceda 25%, transparent 25%),
    linear-gradient(45deg, #b5ceda 25%, transparent 25%);
    background-size: 100px 100px; /* Adjust the size based on the pattern */
    height:4cm;
    margin-bottom:-1cm;
    margin-left:-1cm;
    margin-right:-1cm;
    border-top: 1px solid black;
    box-shadow: 1px 1px 1px black;
}

#fp, #fa{
    text-align:center;
    font-size:18px;
    padding-top:12px;
    display:block;
    margin:0 auto;
}
#fa:hover{
    color:white;
}
